{% extends "base.html" %}
{% block title %}Template{% endblock %}
{% block content %}

  <!-- Prism CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/prism.min.css') }}">
  <!-- Prism core + YAML -->
  <script src="{{ url_for('static', filename='js/prism-core.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/prism-yaml.min.js') }}"></script>

<div class="container">
  {% include 'flashed_messages.html' %}
    <br>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
          <div class="row">
            <div class="col-md-6">
              <!-- Title -->
              <h4 class="font-weight-bold text-primary">Template</h4>
            </div>
            <div class="col-md-6 text-end">
              <!-- Button -->
              <button type=button class="btn btn-small btn-outline-secondary" onclick="history.back()"><span class="fas fa-arrow-left mr-2"></span> Back</button>
            </div>
          </div> <!-- / .row -->
        </div>

        <div class="card-body">
          <pre><code class="language-yaml" id="yamlCode">{{ template | safe }}</code></pre>
        </div>
    </div>
</div>
{% endblock %}
